.label-class {
    display: inline-block;
    width: 100px; /* Adjust the width as needed */
    text-align: right;
    margin-right: 10px; /* Adjust the margin as needed */
}


main {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

table {
    margin: 50px auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 5px;
}